<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Users</title>

    <!-- Fontfaces CSS-->
    <link href="/staff_assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/staff_assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/staff_assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/staff_assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/staff_assets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/staff_assets/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <!-- begin -->
                        
                        <li>
                            <a href="/hr-dash">
                                <i class="fas fa-chart-bar"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/applicants">
                                <i class="fas fa-table"></i>Applicants</a>
                        </li>
                       
                        <li>
                            <a href="/hr-dash">
                                <i class="far fa-check-square"></i>Add Staff Member</a>
                        </li>
                        <li>
                            <a href="/hr-dash">
                                <i class="fas fa-calendar-alt"></i>Current Employees</a>
                               
                        </li>
                        
                       
                        <!-- end -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <!-- <img src="/images/profile.png" alt="Cool Admin" /> -->
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                       

                        <li>
                            <a href="/hr-dash">
                                <i class="fas fa-chart-bar"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/applicants">
                                <i class="fas fa-table"></i>Applicants</a>
                        </li>
                       
                        <li>
                            <a href="/hr-dash">
                                <i class="far fa-check-square"></i>Add Staff Member</a>
                        </li>
                        <li>
                            <a href="/hr-dash">
                                <i class="fas fa-calendar-alt"></i>Current Employees</a>
                               
                        </li>


                            </ul>
                            <!-- the end -->
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                
                                <div class="account-wrap">
                                    <a href="panapastaff/hidden/logout">
                                        <i class="zmdi zmdi-power"></i>    Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        
                        
                        <div class="row">
                             
                                    
                                   


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Users Tab</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="default-tab">
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                                         aria-selected="true">New Applications
                                                         <span class="badge badge-danger"><%=allusers.lenght%></span>
                                                        </a>
                                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                         aria-selected="false">Approved Applications</a>
                                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                         aria-selected="false">Suspended Applications</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <!-- first panel Begin -->




                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!-- DATA TABLE -->
                                                            <h3 class="title-5 m-b-35">New Users</h3>
                                                           
                                                            <div class="table-responsive table-responsive-data2">
                                                                <table class="table table-data2">
                                                                    <thead>
                                                                        <tr>
                                                                          
                                                                            <th>name</th>
                                                                            <th>email</th>
                                                                            <th>Position</th>
                                                                            
                                                                            <th>Profile Verified</th>
                                                                            
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        <% allusers.forEach(function(company){ %>

                                                                           
                                                                                <tr class="tr-shadow">
                                                                            
                                                                                    <td><%=company.fullname%></td>
                                                                                    <td>
                                                                                        <span class="block-email"><%=company.email %></span>
                                                                                    </td>
                                                                                    <td class="desc"><%= company.position%></td>
                                                                                   

                                                                                  
                                                                                    <td>
                                                                                        <span class="status--denied">False</span>
                                                                                    </td>
                                                                                  
                                                                                   


                                                                                    <td>
                                                                                        <div class="table-data-feature">
                                                                                            <button id="sendnot" class="item" data-toggle="tooltip" data-placement="top" name="<%=company.email%>" title="Accept">
                                                                                                <i class="zmdi zmdi-star"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="changeCat" class="item" data-toggle="tooltip" data-placement="top" title="Edit Position">
                                                                                                <i class="zmdi zmdi-edit"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="suspendacc" class="item" data-toggle="tooltip" data-placement="top" title="Suspend">
                                                                                                <i class="zmdi zmdi-pause"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="View Profile">
                                                                                                <i class="zmdi zmdi-eye"></i>
                                                                                                <a href="/explore/viewpage/view/<%=company.email%>"></a>
                                                                                            </button>
                                                                                          
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="spacer"></tr>


                                                                         

                                                                       

                                                                        <%});%>
                                                                       
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- END DATA TABLE -->
                                                        </div>
                                                    </div>
                                                  
                                                  
                                                  <!-- end of first panel -->
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                       <!-- second panel -->
                                                       
                                                       <div class="row">
                                                            <div class="col-md-12">
                                                                <!-- DATA TABLE -->
                                                                <h3 class="title-5 m-b-35">All Users</h3>
                                                               
                                                                <div class="table-responsive table-responsive-data2">
                                                                    <table class="table table-data2">
                                                                        <thead>
                                                                            <tr>
                                                                              
                                                                                <th>name</th>
                                                                                <th>email</th>
                                                                                <th>Catergory</th>
                                                                                
                                                                                <th>Profile Verification</th>
                                                                                
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
    
                                                                            <% allusers.forEach(function(company){ %>
    
                                                                               
                  
                                                                                <tr class="tr-shadow">
                                                                            
                                                                                    <td><%=company.fullname%></td>
                                                                                    <td>
                                                                                        <span class="block-email"><%=company.email %></span>
                                                                                    </td>
                                                                                    <td class="desc"><%= company.position%></td>
                                                                                   

                                                                                  
                                                                                    <td>
                                                                                        <span class="status--denied">False</span>
                                                                                    </td>
                                                                                  
                                                                                   


                                                                                    <td>
                                                                                        <div class="table-data-feature">
                                                                                            <button id="sendnot" class="item" data-toggle="tooltip" data-placement="top" name="<%=company.email%>" title="Accept">
                                                                                                <i class="zmdi zmdi-star"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="changeCat" class="item" data-toggle="tooltip" data-placement="top" title="Edit Position">
                                                                                                <i class="zmdi zmdi-edit"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="suspendacc" class="item" data-toggle="tooltip" data-placement="top" title="Suspend">
                                                                                                <i class="zmdi zmdi-pause"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="View Profile">
                                                                                                <i class="zmdi zmdi-eye"></i>
                                                                                                <a href="/explore/viewpage/view/<%=company.email%>"></a>
                                                                                            </button>
                                                                                          
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="spacer"></tr>


                                                                         
                  
    
                                                                            <%});%>
                                                                           
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- END DATA TABLE -->
                                                            </div>
                                                        </div>

                                                            <!-- end of second panel -->
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                      <!-- last panel -->
                                                      
                                                      
                                                      
                                                      
                                                      <div class="row">
                                                            <div class="col-md-12">
                                                                <!-- DATA TABLE -->
                                                                <h3 class="title-5 m-b-35">All Users</h3>
                                                               
                                                                <div class="table-responsive table-responsive-data2">
                                                                    <table class="table table-data2">
                                                                        <thead>
                                                                            <tr>
                                                                              
                                                                                <th>name</th>
                                                                                <th>email</th>
                                                                                <th>Catergory</th>
                                                                                
                                                                                <th>Profile Verification</th>
                                                                                
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
    
                                                                            <% allusers.forEach(function(company){ %>
    
                                                                                      
                                                                                <tr class="tr-shadow">
                                                                            
                                                                                    <td><%=company.fullname%></td>
                                                                                    <td>
                                                                                        <span class="block-email"><%=company.email %></span>
                                                                                    </td>
                                                                                    <td class="desc"><%= company.position%></td>
                                                                                   

                                                                                  
                                                                                    <td>
                                                                                        <span class="status--denied">False</span>
                                                                                    </td>
                                                                                  
                                                                                   


                                                                                    <td>
                                                                                        <div class="table-data-feature">
                                                                                            <button id="sendnot" class="item" data-toggle="tooltip" data-placement="top" name="<%=company.email%>" title="Accept">
                                                                                                <i class="zmdi zmdi-star"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="changeCat" class="item" data-toggle="tooltip" data-placement="top" title="Edit Position">
                                                                                                <i class="zmdi zmdi-edit"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button id="suspendacc" class="item" data-toggle="tooltip" data-placement="top" title="Suspend">
                                                                                                <i class="zmdi zmdi-pause"></i>
                                                                                               
                                                                                            </button>
                                                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="View Profile">
                                                                                                <i class="zmdi zmdi-eye"></i>
                                                                                                <a href="/explore/viewpage/view/<%=company.email%>"></a>
                                                                                            </button>
                                                                                          
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="spacer"></tr>


                                                                         

    
                                                                            <%});%>
                                                                           
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!-- END DATA TABLE -->
                                                            </div>
                                                        </div>

                                                            <!-- end of last panel -->
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>






                        </div>
                       

















                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 Panoapa. All rights reserved. Template by <a href="#">Panoapa</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/staff_assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/staff_assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/staff_assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/staff_assets/vendor/slick/slick.min.js">
    </script>
    <script src="/staff_assets/vendor/wow/wow.min.js"></script>
    <script src="/staff_assets/vendor/animsition/animsition.min.js"></script>
    <script src="/staff_assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/staff_assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/staff_assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/staff_assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/staff_assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/staff_assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/staff_assets/vendor/select2/select2.min.js">
    </script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="/fontawesome/js/fontawesome.min.js">



    <!-- Main JS-->
    <script src="/staff_assets/js/main.js"></script>

</body>

</html>
<!-- end document-->
